.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 3rem;
}

.track-crypto-heading,
.real-time-heading {
  font-size: 6rem;
  margin: 0;
}

.track-crypto-heading {
  color: var(--white);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
}

.track-crypto-heading:hover {
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s;
}

.real-time-heading {
  color: var(--blue);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--blue);
}

.info-text {
  font-size: 1rem;
  color: var(--grey);
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
}

.phone-container {
  width: 40%;
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.iphone {
  position: absolute;
  z-index: 10;
  min-width: 300px;
  width: 50%;
  left: 52%;
  transform: translateX(-44%);
}

.gradient {
  position: absolute;
  min-width: 250px;
  width: 40%;
  top: 5.5rem;
  left: 52%;
  transform: translateX(-36%);
}

@media only screen and (max-width: 1250px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
  }
}

@media only screen and (max-width: 1000px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
  }
  .iphone {
    min-width: 250px;
  }
  .gradient {
    min-width: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .flex-info {
    flex-direction: column;
  }
  .phone-container {
    display: flex;
    margin-top: 3rem;
    padding: 0;
    width: 50%;
  }
  .iphone,
  .gradient {
    left: 50%;
    transform: translateX(-36%);
  }
  .iphone {
    width: 250px;
  }
  .gradient {
    width: 200px;
    top: 4.5rem;
  }
  .flex-info {
    align-items: center;
    text-align: center;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 3rem;
  }
  .btn-flex {
    justify-content: center;
  }
}
